* {
    font-family: $primary-font-family;
    font-size: $primary-font-size;
}
html {
    overflow-x: hidden;
}
h1 {
    font-size: 250%;
    color: $color-main;
    letter-spacing: -1.075px;
    word-spacing: 2.5px;
    font-weight: 700;
    line-height: 1;
}
h4 {
    font-size: 115%;
    text-transform: capitalize;
    letter-spacing: 1.075px;
    word-spacing: -1.075px;
    font-weight: 300;
    line-height: 1;
}
p {
    font-size: 105%;    
    font-weight: 300;
    line-height: 1.75;
}
a {
    text-decoration: none;
    font-size: 105%;
}
.link {
    color: $color-default;
}
.row {
    padding: $standard-padding;
}

input {
    border: none;
    border-bottom: 3px solid $color-main;
    padding-bottom: 10px;
    transition: all 1s;

    &::placeholder {
        padding-left: 5px;
        line-height: 1.75;
    }

    &:hover {
       outline-width: 0;
       border-color: $color-default;
    }
    &:focus {
        outline-width: 0;
        padding-left: 10px;
        border-color: $color-default;
     }
}