// base document styles
* {
    font-family: $primary-font-family;
    font-size: $primary-font-size;
}
html {
    overflow-x: hidden;
}

// base typography styles
h1 {
    font-size: 250%;
    color: $color-main;
    letter-spacing: -1.075px;
    word-spacing: 2.5px;
    font-weight: 700;
    line-height: 1;
}
h4 {
    font-size: 115%;
    text-transform: capitalize;
    letter-spacing: 1.075px;
    word-spacing: -1.075px;
    font-weight: 300;
    line-height: 1;
}
p {
    font-size: 105%;    
    font-weight: 300;
    line-height: 1.75;
}

// base styles for links
a {
    text-decoration: none;
    font-size: 105%;
}
.link {
    color: $color-default;
}

// standard padding for all rows
.row {
    padding: $standard-padding;
}

// base input style and animation
input {
    border: none;
    border-bottom: 3px solid $color-main;
    padding-bottom: 10px;
    transition: all 1s;

    &::placeholder {
        padding-left: 5px;
        line-height: 1.75;
    }

    &:hover {
       outline-width: 0;
       border-color: $color-default;
    }
    &:focus {
        outline-width: 0;
        padding-left: 10px;
        border-color: $color-default;
     }
}

// base nav styles for desktop and mobile
header {
    display: flex;

    @media (max-width: 600px) {
        margin-bottom: 50px;
       
    }
    
    .col-3 {
        flex: 1 33%;
        margin: auto;

        @media (max-width: 600px) {
           flex: 1 100%;
           margin: auto;
           margin-bottom: 35px;
        }
    }
    .col-9 {
        flex: 2 66%;
        display: flex;
        margin: auto;

        nav {
            flex-grow: 1 100%;
            margin-left: auto;

            @media (max-width: 600px) {
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
             }

            a {
                margin: auto 25px;
                color: $color-text;
                font-size: 110%;
                transition: all 1s;
                font-weight: 300;

                &:hover {
                    background-color: $color-main;
                    color: white;
                    padding: 7.5px 25px;
                    border-radius: 50px;
                }

                @media (max-width: 600px) {
                    flex: 1 100%;
                    margin-bottom: 15px;
                    line-height: 1.65;
                 }
            }
        }
    }
}
